 
body, * {
  font-family: helvetica, sans-serif;
}
 

html, body{
  background: #fff;
  margin:0; 
}

#output{
  font-size: 1.8em;
}

.top-controls{
  background: #f2f2f2;
  height: 30px;
  padding:5px 12px;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #eaeaea;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline;
    }
  }
  .top-controls-left{
    float: left;
  }
  .top-controls-right{
    float: right;
    margin-top: 4px;
  }
  .top-control-btn{
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 2px 5px;
    box-sizing: border-box;
    font-size: 10px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,234,234,0.5) 100%);
    &:hover{
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
    }
   }
}


.loading{
  position: absolute;
  top: 180;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.2;
}

video{
  display: none;
}
canvas{
  top:0;
  cursor: crosshair;
  width: 98%;
  margin-left: 1%;
}

#ui_canvas{
  position: absolute;
  pointer-events: none;
}

.container{
  width: 600px;
  height: 568px;
  margin: auto;
  position:relative;
}

.video_container{
  margin-top: 10px;
  float:left;
  width: 100%;
  // height: 380px;
  position: relative;
}

.video_label{
  margin-top: 80px;
  width: 100%;
  float: left;

   p{
    font-family: helvetica;
    font-size: 180%;
    text-align: center;
    color: #c0c0c0;
    font-weight: lighter;
  }
}

.bar{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(201, 201, 201, 0.5);
}
.talk{
  background: rgba(201, 201, 201, 0.5);
  padding-top: 10px;
  height: 38px;
  margin-bottom: 14px;
  display: none;
}

